<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header ">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand brand" href="/">BNK</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a routerLink="/inventory" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" routerLinkActive="active">Inventory
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">Action</a>
            </li>
            <li>
              <a href="#">Another action</a>
            </li>
            <li>
              <a href="#">Something else here</a>
            </li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Settings</li>
            <li>
              <a routerLink="/inventory/category/list">Categories</a>
            </li>
            <li>
              <a href="#">One more separated link</a>
            </li>
          </ul>
        </li>
        <li >
          <a routerLink="/test" routerLinkActive="active" >Test Area </a>
        </li>
    
        <li>
          <a >{{parentData}}</a>
        </li>
        

      </ul>
      <ul class="nav navbar-nav pull-right" (click)="onClick($event)">


        <li class="dropdown">
         
            <li *ngIf="parentData"><a  role="button" aria-expanded="false">
              Login</a></li>

            <li *ngIf="!parentData" class="dropdown">
                <a  role="button" aria-expanded="false">Account</a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="http://www.uk111.uk/forum">Forums</a>
                  </li>
                  <li>
                    <a href="http://www.uk111.uk/a2servers">Arma 2</a>
                  </li>
                  <li>
                    <a href="http://www.uk111.uk/a3servers">Arma 3</a>
                  </li>
                </ul>
              </li>

           





          






      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>